<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Congratulations! My server is tested and working fine.</p>
    <p>My Server started successfully</p>
    <p>Everything seems to be working fine</p>
    <p>Welcome to A New Day</p>
  </body>
</html>
