<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Welcome to <%= title %></h3>
    <p>Welcome to my post page. <br> I am going to go all out here and write my thoughts. Kind of like of diary</p>
    <br>
    <p>About 3 years ago, during one of the many ASUU strikes, I decided to get a job. At that point in time 
    I believed that I already know everything I should know about the computer operations (lol). Why? Beacuse I could do graphics
    with corel draw and manipulate pictures with photoshop and I was also good with using the microsoft office suite. 
    </p>
    <br>
    <p>On getting to this place, I met a man and we had a good rapport immediately. So, he asked me, 
    what programming language do I write
    after I told him I wanted to intern in their office (hahahaahahah). 
    I was dumbfounded, not because I did not know what programming 
    languages are but because I did not see how that is relevant to me. 
    I am not a computer science student, so why is he asking me about
    programming language. I said those words that I was thinking to him, and he smiled. 
    He sat me down and opened my mind to the new world.
    </p>
    <p>Since then I decide to start programming. There were a lot of obstacles, challenges and distractions on the way, 
    but here I am building
    server. models, routes and controller. I wanted a be an accomplished software developer by the end of the year 2021, 
    but I never imagined
    that the journey would go like this.
    </p>
    <p>I am grateful for this opportunity and I will work hard to be better everyday.</p>
  </body>
</html>
